<!-- Start Header/Navigation -->
<nav
  class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark"
  arial-label="Furni navigation bar"
>
  <div class="container">
    <a class="navbar-brand">Shri Sidh Baba Sehyog Committee<span>.</span></a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsFurni"
      aria-controls="navbarsFurni"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsFurni">
      <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li><a class="nav-link" href="about.html">About us</a></li>
        <li><a class="nav-link" href="contact.html">Contact us</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Header/Navigation -->
<!-- Start Hero Section -->
<div class="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>SSBSC <span clsas="d-block">Lowkot</span></h1>
          <p class="mb-4">
            We are a registered cooperation working for the welfare of the
            society
          </p>
          <p>
            <a href="" class="btn btn-secondary me-2">About US</a
            ><a href="#" class="btn btn-white-outline">Contact US</a>
          </p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="hero-img-wrap">
          <img src="images/ssbsc-home.jpg" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Hero Section -->

<!-- Start We Help Section -->
<div class="we-help-section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-7 mb-5 mb-lg-0">
        <div class="imgs-grid">
          <div class="grid grid-1">
            <img src="images/om.png" alt="Untree.co" />
          </div>
          <div class="grid grid-2">
            <img src="images/ram-temple.png" alt="Untree.co" />
          </div>
          <div class="grid grid-3">
            <img src="images/ssbsc-home.jpg" alt="Untree.co" />
          </div>
        </div>
      </div>
      <div class="col-lg-5 ps-lg-5">
        <h2 class="section-title mb-4">We work for society betterment</h2>
        <p>
          We believe in the power of compassion and the importance of giving
          back to the community. Our work is driven by a strong commitment to
          society growth
        </p>

        <ul class="list-unstyled custom-list my-4">
          <li>Yearly ramayan path</li>
          <li>Temple area development</li>
          <li>Village development</li>
          <li>Society growth</li>
        </ul>
        <p><a herf="#" class="btn">Explore</a></p>
      </div>
    </div>
  </div>
</div>
<!-- End We Help Section -->

<!-- Start Footer Section -->
<footer class="footer-section">
  <div class="container relative">
    <!-- <div class="sofa-img">
      <img src="images/ssbsc-home.jpg" alt="Image" class="img-fluid" />
    </div> -->

    <div class="row">
      <div class="col-lg-8">
        <div class="subscription-form">
          <h3 class="d-flex align-items-center">
            <span class="me-1"
              ><img
                src="images/envelope-outline.svg"
                alt="Image"
                class="img-fluid" /></span
            ><span>Subscribe to Newsletter</span>
          </h3>

          <form action="#" class="row g-3">
            <div class="col-auto">
              <input
                type="text"
                class="form-control"
                placeholder="Enter your name"
              />
            </div>
            <div class="col-auto">
              <input
                type="email"
                class="form-control"
                placeholder="Enter your email"
              />
            </div>
            <div class="col-auto">
              <button class="btn btn-primary">
                <span class="fa fa-paper-plane"></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row g-5 mb-5">
      <div class="col-lg-4">
        <div class="mb-4 footer-logo-wrap">
          <a href="#" class="footer-logo">SSBSC<span>.</span></a>
        </div>
        <p class="mb-4">
          Shri sidh baba sehyog committee is a registered non profit society
          working for the betterment of the society working on various aspects
        </p>

        <ul class="list-unstyled custom-social">
          <li>
            <a href="#"><span class="fa fa-brands fa-facebook-f"></span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-brands fa-twitter"></span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-brands fa-instagram"></span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-brands fa-linkedin"></span></a>
          </li>
        </ul>
      </div>

      <div class="col-lg-8">
        <div class="row links-wrap">
          <div class="col-6 col-sm-6 col-md-3">
            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Contact us</a></li>
            </ul>
          </div>

          <div class="col-6 col-sm-6 col-md-3">
            <ul class="list-unstyled">
              <li><a href="#">Support</a></li>
              <li><a href="#">Knowledge base</a></li>
            </ul>
          </div>

          <div class="col-6 col-sm-6 col-md-3">
            <ul class="list-unstyled">
              <li><a href="#">Our team</a></li>
              <li><a href="#">Leadership</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>

          <div class="col-6 col-sm-6 col-md-3">
            <ul class="list-unstyled">
              <li><a href="#">Himanshu Kandpal</a></li>
              <li><a href="#">Shekhar Kandpal</a></li>
              <li><a href="#">Ravi Kandpal</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="border-top copyright">
      <div class="row pt-4">
        <div class="col-lg-6">
          <p class="mb-2 text-center text-lg-start">
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            . All Rights Reserved. &mdash; Designed with love by
            <a href="https://himanshukandpal.in">Himanshu Kandpal</a>
          </p>
        </div>

        <div class="col-lg-6 text-center text-lg-end">
          <ul class="list-unstyled d-inline-flex ms-auto">
            <li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer Section -->
